* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #d8d8d8;
}

body {
  background-color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}
